{% extends 'base.html' %}

{% block title %}View Node{% endblock %}

{% block content %}

<style>

    #assetType {
        color: gray;
    }
    #disabled {
        color: gray;
    }


</style>

<h4 align="left">
    <a href="/view-nodes">Back to Nodes</a>
</h4>
<h1 align="center">By The Fire {{ node_to_edit.network }} Node</h1>

<div class="container">
    <div class="row align-items-start">
        <div class="col-4">
            <h3>Balance: </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <h4>{{ node_to_edit.balance }} {{ node_to_edit.token }}</h4>
        </div>
    </div>
</div>

<br/>

<div class="container">
    <div class="row align-items-start">
        <div class="col-4">
            <h3>Wallet Address: </h3>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-7">
            <h4>{{ node_to_edit.wallet_address }}</h4>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nodeAddress" data-bs-whatever="@mdo">Edit Node Address</button>
        </div>
    </div>
</div>

<br/>

<div class="container">
    <div class="row align-items-start">
        <div class="col-4">
            <h3>Income history </h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <h4>Here is where we'll call from the scan apis to get income history</h4>
        </div>
    </div>
</div>


<div class="modal fade" id="nodeAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Enter Node Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" name="addressData" action="/update-node/{{ node_to_edit.id }}">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">New Node Address:</label>
            <input type="text" class="form-control" name="newNodeAddress" id="newNodeAddress" placeholder={{ node_to_edit.wallet_address }}>
          </br>
            <input type="submit" class="btn btn-primary" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}